registry = https://nexus.prod.build.kds.com/repository/npm-group/
# force all @neotechnologygroup internal packages to come from our internal nexus server to avoid attack risk
@neotechnologygroup:registry=https://nexus.prod.build.kds.com/repository/npm-hosted/