/* stylelint-disable color-named, color-no-hex */

/* primary colors */
@deep-blue-400: #001245;
@deep-blue-300: #00175a;
@deep-blue-200: #99ace3;
@deep-blue-150: #d0dbff;
@deep-blue-100: #eaefff;

@bright-blue-400: #0056a0;
@bright-blue-300: #006fcf;
@bright-blue-200: #7dc3ff;
@bright-blue-150: #dcf0ff;
@bright-blue-100: #ecf6ff;

@blue-grey-700: #1a233e;
@blue-grey-600: #444b61;
@blue-grey-500: #848996;
@blue-grey-400: #c6c8d2;
@blue-grey-300: #e7e8ee;
@blue-grey-200: #f0f1f4;
@blue-grey-100: #f8f9fb;
@white: #ffffff;

@green-400: #005f45;
@green-300: #00825f;
@green-200: #94d8c5;
@green-150: #caeee4;
@green-100: #ecfbf4;

@orange-400: #c43d0a;
@orange-300: #f85d22;
@orange-200: #ffb69a;
@orange-150: #ffd2c0;
@orange-100: #ffefe9;

@red-400: #9e0000;
@red-300: #cf0000;
@red-200: #fe9d9d;
@red-150: #ffc3c3;
@red-100: #fae5e7;

@yellow-400: #916400;
@yellow-300: #ffba00;
@yellow-200: #ffe399;
@yellow-150: #fff1cc;
@yellow-100: #fff6de;
@yellow-50: #fffcf3;

/* text */
@ink-100: #282d3a;
@ink-70: fade(@ink-100, 70%);
@ink-40: fade(@ink-100, 40%);

/* stylelint-disable property-no-unknown */

@kit-colors: {
  deep-blue-400: @deep-blue-400;
  deep-blue-300: @deep-blue-300;
  deep-blue-200: @deep-blue-200;
  deep-blue-150: @deep-blue-150;
  deep-blue-100: @deep-blue-100;

  bright-blue-400: @bright-blue-400;
  bright-blue-300: @bright-blue-300;
  bright-blue-200: @bright-blue-200;
  bright-blue-150: @bright-blue-150;
  bright-blue-100: @bright-blue-100;

  blue-grey-700: @blue-grey-700;
  blue-grey-600: @blue-grey-600;
  blue-grey-500: @blue-grey-500;
  blue-grey-400: @blue-grey-400;
  blue-grey-300: @blue-grey-300;
  blue-grey-200: @blue-grey-200;
  blue-grey-100: @blue-grey-100;
  white: @white;

  green-400: @green-400;
  green-300: @green-300;
  green-200: @green-200;
  green-150: @green-150;
  green-100: @green-100;

  orange-400: @orange-400;
  orange-300: @orange-300;
  orange-200: @orange-200;
  orange-150: @orange-150;
  orange-100: @orange-100;

  red-400: @red-400;
  red-300: @red-300;
  red-200: @red-200;
  red-150: @red-150;
  red-100: @red-100;

  yellow-400: @yellow-400;
  yellow-300: @yellow-300;
  yellow-200: @yellow-200;
  yellow-100: @yellow-100;
  yellow-150: @yellow-150;
  yellow-50: @yellow-50;

  /* text */
  ink-100: @ink-100;
  ink-70: @ink-70;
  ink-40: @ink-40;
};

@icon-colors: {
  deep-blue-400: @deep-blue-400;
  deep-blue-300: @deep-blue-300;
  deep-blue-200: @deep-blue-200;
  deep-blue-100: @deep-blue-100;

  bright-blue-400: @bright-blue-400;
  bright-blue-300: @bright-blue-300;
  bright-blue-200: @bright-blue-200;
  bright-blue-100: @bright-blue-100;

  blue-grey-700: @blue-grey-700;
  blue-grey-600: @blue-grey-600;
  blue-grey-500: @blue-grey-500;
  blue-grey-400: @blue-grey-400;
  white: @white;

  green-400: @green-400;
  green-300: @green-300;
  green-200: @green-200;
  green-100: @green-100;

  orange-400: @orange-400;
  orange-300: @orange-300;
  orange-200: @orange-200;
  orange-100: @orange-100;

  red-400: @red-400;
  red-300: @red-300;
  red-200: @red-200;
  red-100: @red-100;

  yellow-400: @yellow-400;
  yellow-300: @yellow-300;
  yellow-200: @yellow-200;
  yellow-100: @yellow-100;
};

/* stylelint-enable property-no-unknown */

/* stylelint-enable color-named, color-no-hex */
@focus-color: fade(@bright-blue-300, 40%);
@invalid-focus-color: fade(@red-300, 40%);
