:root {
  --deep-blue-400: @deep-blue-400;
  --deep-blue-300: @deep-blue-300;
  --deep-blue-200: @deep-blue-200;
  --deep-blue-150: @deep-blue-150;
  --deep-blue-100: @deep-blue-100;

  --bright-blue-400: @bright-blue-400;
  --bright-blue-300: @bright-blue-300;
  --bright-blue-200: @bright-blue-200;
  --bright-blue-150: @bright-blue-150;
  --bright-blue-100: @bright-blue-100;

  --blue-grey-700: @blue-grey-700;
  --blue-grey-600: @blue-grey-600;
  --blue-grey-500: @blue-grey-500;
  --blue-grey-400: @blue-grey-400;
  --blue-grey-300: @blue-grey-300;
  --blue-grey-200: @blue-grey-200;
  --blue-grey-100: @blue-grey-100;
  --white: @white;

  --green-400: @green-400;
  --green-300: @green-300;
  --green-200: @green-200;
  --green-150: @green-150;
  --green-100: @green-100;

  --orange-400: @orange-400;
  --orange-300: @orange-300;
  --orange-200: @orange-200;
  --orange-150: @orange-150;
  --orange-100: @orange-100;

  --red-400: @red-400;
  --red-300: @red-300;
  --red-200: @red-200;
  --red-150: @red-150;
  --red-100: @red-100;

  --yellow-400: @yellow-400;
  --yellow-300: @yellow-300;
  --yellow-200: @yellow-200;
  --yellow-100: @yellow-100;
  --yellow-150: @yellow-150;
  --yellow-50: @yellow-50;

  /* text */
  --ink-100: @ink-100;
  --ink-70: @ink-70;
  --ink-40: @ink-40;
}
