:root {
  /* ---- Surface ---- */
  --nck-surface-page: var(--nck-color-white);
  --nck-surface-primary: var(--nck-color-white);
  --nck-surface-primary-reverse: var(--nck-color-n700);
  --nck-surface-primary-hover: var(--nck-color-n200);
  --nck-surface-secondary: var(--nck-color-n100);
  --nck-surface-disabled: var(--nck-color-n300);
  --nck-surface-info-subtle: var(--nck-color-p100);
  --nck-surface-info-solid: var(--nck-color-p400);
  --nck-surface-info-solid-hover: var(--nck-color-p500);
  --nck-surface-success-subtle: var(--nck-color-su100);
  --nck-surface-success-solid: var(--nck-color-su600);
  --nck-surface-success-solid-hover: var(--nck-color-su700);
  --nck-surface-warning-subtle: var(--nck-color-w100);
  --nck-surface-warning-solid: var(--nck-color-w600);
  --nck-surface-negative-subtle: var(--nck-color-e100);
  --nck-surface-negative-solid: var(--nck-color-e600);
  --nck-surface-negative-solid-hover: var(--nck-color-e700);
  --nck-surface-highlight-subtle: var(--nck-color-s100);
  --nck-surface-highlight-solid: var(--nck-color-s600);
  --nck-surface-gain-subtle: var(--nck-color-g100);
  --nck-surface-gain-solid: var(--nck-color-g600);
  --nck-surface-modal: var(--nck-color-n700-transparent);

  /* ---- Text ---- */
  --nck-text-default: var(--nck-color-ikp100);
  --nck-text-secondary: var(--nck-color-iks200);
  --nck-text-disabled: var(--nck-color-ikt300);
  --nck-text-reverse: var(--nck-color-white);
  --nck-text-brand: var(--nck-color-p400);
  --nck-text-negative: var(--nck-color-e600);
  --nck-text-positive: var(--nck-color-su600);
  --nck-text-warning: var(--nck-color-w600);
  --nck-text-gain: var(--nck-color-g700);
  --nck-text-link: var(--nck-color-p400);
  --nck-text-link-reverse: var(--nck-color-p300);

  /* ---- Icon ---- */
  --nck-icon-neutral: var(--nck-color-n600);
  --nck-icon-neutral-subtle: var(--nck-color-n500);
  --nck-icon-brand: var(--nck-color-p400);
  --nck-icon-positive: var(--nck-color-su600);
  --nck-icon-negative: var(--nck-color-e600);
  --nck-icon-warning: var(--nck-color-w500);
  --nck-icon-reverse: var(--nck-color-white);
  --nck-icon-disabled: var(--nck-color-n400);
  --nck-icon-brand-reverse: var(--nck-color-p300);

  /* ---- Border ---- */
  --nck-border-neutral: var(--nck-color-n300);
  --nck-border-neutral-hover: var(--nck-color-n500);
  --nck-border-active: var(--nck-color-p400);
  --nck-border-active-hover: var(--nck-color-p500);
  --nck-border-negative: var(--nck-color-e600);
  --nck-border-negative-hover: var(--nck-color-e700);
  --nck-border-positive: var(--nck-color-su600);
  --nck-border-warning: var(--nck-color-w500);
  --nck-border-info: var(--nck-color-p400);

  /* ---- Effects (focus rings) ---- */
  --nck-effect-focus-primary: var(--nck-color-p400-transparent);
  --nck-effect-focus-positive: var(--nck-color-su600-transparent);
  --nck-effect-focus-negative: var(--nck-color-e600-transparent);
}
