:root {
  /* Radius */
  --nck-radius-none: 0;
  --nck-radius-s: 0.25rem; /*  4px */
  --nck-radius-m: 0.5rem; /*  8px */
  --nck-radius-l: 1rem; /* 16px */
  --nck-radius-pill: 999rem;

  /* Border width (L2) */
  --nck-border-width-none: 0;
  --nck-border-width-s: 0.0625rem; /* 1px */
  --nck-border-width-m: 0.125rem; /* 2px */
  --nck-border-width-l: 0.25rem; /* 4px */
}
