// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.amount-large,
.nck-style .amount-large,
.nck-style.amount-large {
  font-size: var(--nck-font-size-amount-large);
  line-height: var(--line-height-amount-large);
  font-weight: 700;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.amount-medium,
.nck-style .amount-medium,
.nck-style.amount-medium {
  font-size: var(--nck-font-size-amount-medium);
  line-height: var(--line-height-amount-medium);
  font-weight: 700;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.amount-small,
.nck-style .amount-small,
.nck-style.amount-small {
  font-size: var(--nck-font-size-amount-small);
  line-height: var(--line-height-amount-small);
  font-weight: 700;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.amount-xsmall,
.nck-style .amount-xsmall,
.nck-style.amount-xsmall {
  font-size: var(--nck-font-size-amount-xsmall);
  line-height: var(--line-height-amount-xsmall);
  font-weight: 700;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.badge-font,
.nck-style .badge-font,
.nck-style.badge-font {
  font-size: var(--nck-font-size-badge-xs);
  line-height: var(--line-height-badge-font);
  font-weight: 700;
  text-transform: uppercase;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.header-1,
.nck-style .header-1,
.nck-style.header-1 {
  font-size: var(--nck-font-size-h1);
  line-height: var(--line-height-header-1);
  font-weight: 600;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.header-2,
.nck-style .header-2,
.nck-style.header-2 {
  font-size: var(--nck-font-size-h2);
  line-height: var(--line-height-header-2);
  font-weight: 600;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.header-3,
.nck-style .header-3,
.nck-style.header-3 {
  font-size: var(--nck-font-size-h3);
  line-height: var(--line-height-header-3);
  font-weight: 600;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.header-4,
.nck-style .header-4,
.nck-style.header-4 {
  font-size: var(--nck-font-size-h4);
  line-height: var(--line-height-header-4);
  font-weight: 700;
  text-transform: uppercase;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.text-l,
.nck-style .text-l,
.nck-style.text-l {
  font-size: var(--nck-font-size-body-l);
  line-height: var(--line-height-text-l);
  font-weight: 400;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.text-l-semibold,
.nck-style .text-l-semibold,
.nck-style.text-l-semibold,
.text-l-600,
.nck-style .text-l-600,
.nck-style.text-l-600 {
  font-size: var(--nck-font-size-body-l);
  line-height: var(--line-height-text-l);
  font-weight: 600;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.text-m,
.nck-style .text-m,
.nck-style.text-m {
  font-size: var(--nck-font-size-body-m);
  line-height: var(--line-height-text-m);
  font-weight: 400;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.text-m-semibold,
.nck-style .text-m-semibold,
.nck-style.text-m-semibold,
.text-m-600,
.nck-style .text-m-600,
.nck-style.text-m-600 {
  font-size: var(--nck-font-size-body-m);
  line-height: var(--line-height-text-m);
  font-weight: 600;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.text-m-bold,
.nck-style .text-m-bold,
.nck-style.text-m-bold,
.text-m-700,
.nck-style .text-m-700,
.nck-style.text-m-700 {
  font-size: var(--nck-font-size-body-m);
  line-height: var(--line-height-text-m);
  font-weight: 700;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.text-s,
.nck-style .text-s,
.nck-style.text-s {
  font-size: var(--nck-font-size-body-s);
  line-height: var(--line-height-text-s);
  font-weight: 400;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.text-s-semibold,
.nck-style .text-s-semibold,
.nck-style.text-s-semibold,
.text-s-600,
.nck-style .text-s-600,
.nck-style.text-s-600 {
  font-size: var(--nck-font-size-body-s);
  line-height: var(--line-height-text-s);
  font-weight: 600;
}

// This style is publicly exposed & documented for use in consuming application,
// evaluate consequences before modifying it.
.text-xs,
.nck-style .text-xs,
.nck-style.text-xs {
  font-size: var(--nck-font-size-body-xs);
  line-height: var(--line-height-text-xs);
  font-weight: 600;
}
